* {
  border: none;
  text-align: center;
  text-decoration: none;
  margin: 0;
  font-family: Impact, Charcoal, sans-serif;
  width: 100%;
  height: 100%;
  color: white;
}

head {
  display: none;
}

body {
  margin: 0;
}

.wrapper {
}

.title {
  font-size: 27px;
  float: left;
  height: 5%;
}

.text {
  font-size: 20px;
  float: left;
  height: 5%;
}

.stats {
  font-size: 22px;
  width: 50%;
  float: left;
  height: 5%;
}

#question {
  font-size: 30px;
  float: left;
  height: 30%;
}

.counter {
  font-size: 25px;
  width: 50%;
  float: left;
  height: 30%;
}

.button {
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  filter: brightness(90%);
}

.button:active {
  filter: brightness(80%);
}

.answerButton {
  font-size: 25px;
  width: 50%;
  float: left;
  height: 30%;
}

.answerButton:hover {
  filter: brightness(90%);
}

.answerButton:active {
  filter: brightness(80%);
}

.colorYellow {
  background-color: #FFF275;
  color: #2A2D34;
}

.colorBlack {
  background-color: #2A2D34;
}

.colorBlue {
  background-color: #009DDC;
}

.colorOrange {
  background-color: #F26430;
}

.colorPurple {
  background-color: #6761A8;
}

.colorGreen {
  background-color: #009B72;
}
